body{
    max-width: 1800px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
}

img {
    max-width: 50px;
    max-height: 50px;
    justify-content: center;
    padding-left: 20px;
}

.text {
    justify-content: center;
}

input[type="checkbox"]{
    height: 15px;
    width: 15px;
}

button {
    border: none;
    height: 20px;
}

input[type=checkbox]:checked + span{
    text-decoration: line-through;
}

ul.items {
    margin-top: 0;
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

 li {
     list-style-type: none;
 }

 p.text {
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
}

.list-wrapper {
    margin-bottom: 150px;
    height: 200px;
}

.dead {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

