<body>
<div class="list-wrapper">
<h2>Pool:</h2>
<ul class = "items">
  <li *ngFor="let item of items"[ngClass]="{
  'is-active': !item.editing,
  'is-inactive': item.editing}">
    <span *ngIf="!item.editing"(click)="edit(item)" 
  ><img src={{item.image}}/> <p class=text>{{item.name}}</p>  </span>
    
  </li>
</ul>
</div>
<div class="list-wrapper">
<h2>Recruited:</h2>
<ul class = "items">
<li *ngFor="let item of recruited"  [ngClass]="{
  'is-active': !item.editing,
  'is-inactive': item.editing}">
  <span class="badge" *ngIf="item.isAlive"(click)="dead(item)"><img src={{item.image}}/> <p class=text>{{item.name}}</p></span>

</li>
</ul>
</div>

<div class="list-wrapper">
<h2>Graveyard:</h2>
<ul class = "items">
<li *ngFor="let dead of deadunits">
  <span class="badge" *ngIf="dead.isDead"><img src={{dead.image}} class="dead"/> <p class=text>{{dead.name}}</p></span>
</li>
</ul>
</div>
</body>

