<body>
<div class="list-wrapper">
<h2>Pool:</h2>
<ul class = "items">
  <li *ngFor="let item of items">
    <span class="badge" *ngIf="!item.editing"(click)="edit(item)"><img src={{item.image}}/> <p class=text>{{item.name}}</p>  </span>
    
  </li>
</ul>
</div>

<h2>Alive:</h2>
<ul class = "items">
<li *ngFor="let item of items">
  <span class="badge" *ngIf="item.isAlive"(click)="dead(item)"><img src={{item.image}}/> <p class=text>{{item.name}}</p></span>

</li>
</ul>

<h2>Dead:</h2>
<ul class = "items">
<li *ngFor="let item of items">
  <span class="badge" *ngIf="item.isDead"><img src={{item.image}}/> <p class=text>{{item.name}}</p></span>
</li>
</ul>
</body>

