body{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}
image {
    max-width: 50px;
    max-height: 50px;
}

.text {
    justify-content: center;
}

input[type="checkbox"]{
    height: 15px;
    width: 15px;
}

button {
    border: none;
    height: 20px;
}

input[type=checkbox]:checked + span{
    text-decoration: line-through;
}

ul.items {
    margin-top: 0;
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    
}

 li {
     list-style-type: none;
 }

 p.text {
    padding-left: 17px;
    font-size: 20px;
}

.light_blue {
    background-color: #099DD9;
}

.green {
    background-color: #0C8542;
}

.red {
    background-color: #EC1D3B;;
}

.orange {
    background-color: #F79420;
}

.yellow {
    background-color: #FFDC00;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.delete {
    float: left;
    margin-right: 10px;
}

.edit {
    float: right;
    margin-right: 15px;
}

.add {
    margin-left: 15px;
}

