body{
    max-width: 1000px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color: black;
    color: white;
}
image {
    max-width: 75px;
    max-height: 75px;
}

.text {
    justify-content: center;
}

input[type="checkbox"]{
    height: 15px;
    width: 15px;
}

button {
    border: none;
    height: 20px;
}

input[type=checkbox]:checked + span{
    text-decoration: line-through;
}

ul.items {
    margin-top: 0;
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    
}

 li {
     list-style-type: none;
 }

 p.text {
    padding-left: 30px;
    font-size: 20px;
}

.list-wrapper {
    margin-bottom: 150px;
}

.dead {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
